.webfx-tree-item {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: icon; COLOR: black; PADDING-TOP: 0px
}
.webfx-tree-item A {
	COLOR: black; MARGIN-LEFT: 0px; TEXT-DECORATION: none
}
.webfx-tree-item A:hover {
	COLOR: blue; MARGIN-LEFT: 0px; TEXT-DECORATION: underline
}
.webfx-tree-item A:active {
	BACKGROUND: highlight; COLOR: white; MARGIN-LEFT: 0px; TEXT-DECORATION: none
}
