BODY {
	MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "Verdana", "????"; BACKGROUND: url(../images/rightbg.gif) repeat-x 50% top; FONT-SIZE: 9pt
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #075587; TEXT-DECORATION: none
}
IMG {
	BORDER-BOTTOM: ; BORDER-LEFT: ; WIDTH: 19px; HEIGHT: 16px; BORDER-TOP: ; BORDER-RIGHT: 
}
.toolbar {
	MARGIN-TOP: 10px; HEIGHT: 28px
}
.tableinfo {
	TEXT-ALIGN: left; LINE-HEIGHT: 37px; WIDTH: 50%; FLOAT: left; COLOR: #8ba1aa
}
.tableinfo SPAN {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px
}
.tableinfo B {
	PADDING-RIGHT: 8px; COLOR: #ebad06; FONT-SIZE: 14px
}
.btnlist {
	FLOAT: right
}
.btnlist LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 4px; BACKGROUND: url(../images/btnleft.gif) no-repeat left 50%; FLOAT: left; HEIGHT: 25px; MARGIN-LEFT: 5px
}
.btnlist LI A {
	LINE-HEIGHT: 25px; PADDING-LEFT: 6px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/btnright.gif) no-repeat right 50%; FLOAT: left; HEIGHT: 25px
}
.btnlist LI A SPAN {
	MARGIN-TOP: 5px; DISPLAY: block; FLOAT: left; HEIGHT: 42px; MARGIN-RIGHT: 5px
}
.tablelist {
	BORDER-LEFT: #bfd8e0 1px solid; MARGIN-BOTTOM: 0px; COLOR: #075587; BORDER-TOP: #bfd8e0 1px solid; MARGIN-RIGHT: 96px; BORDER-RIGHT: #bfd8e0 1px solid
}
.tablelist2 {
	BORDER-BOTTOM: #bfd8e0 1px solid; BORDER-LEFT: #bfd8e0 1px solid; COLOR: #075587; BORDER-TOP: #bfd8e0 1px solid; BORDER-RIGHT: #bfd8e0 1px solid
}
.tablelist TH {
	BORDER-BOTTOM: #c0d0dc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c5dbe2 1px solid; LINE-HEIGHT: 28px; TEXT-INDENT: 10px; WHITE-SPACE: nowrap; BACKGROUND: url(../images/thbg.gif) repeat-x; FONT-WEIGHT: normal; BORDER-RIGHT: #f4fcfe 1px solid
}
.tablelist TD {
	LINE-HEIGHT: 26px; TEXT-INDENT: 10px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap
}
.tablelist2 TH {
	BORDER-BOTTOM: #c0d0dc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c5dbe2 1px solid; LINE-HEIGHT: 28px; TEXT-INDENT: 10px; WHITE-SPACE: nowrap; BACKGROUND: url(../images/thbg.gif) repeat-x; FONT-WEIGHT: normal; BORDER-RIGHT: #f4fcfe 1px solid
}
.tablelist2 TD {
	LINE-HEIGHT: 26px; TEXT-INDENT: 10px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap
}
.tdleft {
	BORDER-BOTTOM: #d5e3e7 1px solid; BACKGROUND: #f1f7f9; BORDER-RIGHT: #f4fcfe 1px solid
}
.tdright {
	BORDER-BOTTOM: #d5e3e7 1px solid
}
.tdl {
	BORDER-BOTTOM: #d5e3e7 1px solid; BORDER-LEFT: #c5dbe2 1px solid
}
.tdbg {
	BACKGROUND: #f9fcfd
}
.page {
	BORDER-BOTTOM: #bfd8e0 1px solid; LINE-HEIGHT: 28px; TEXT-INDENT: 0px; BACKGROUND: #f5f9fb
}
.pageinput {
	BORDER-BOTTOM: #aec5d3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #629aba 1px solid; LINE-HEIGHT: 16px; WIDTH: 30px; BACKGROUND: url(../images/pinputbg.gif) repeat-x; HEIGHT: 16px; COLOR: #075587; BORDER-TOP: #629aba 1px solid; BORDER-RIGHT: #aec5d3 1px solid
}
.search {
	LINE-HEIGHT: 35px; MARGIN-TOP: 10px; WIDTH: 100%; COLOR: #075587
}
.searchinput {
	BORDER-BOTTOM: #dfe1e2 1px solid; BORDER-LEFT: #88aabc 1px solid; LINE-HEIGHT: 22px; WIDTH: 75px; HEIGHT: 18px; COLOR: #74a3b4; BORDER-TOP: #88aabc 1px solid; BORDER-RIGHT: #dfe1e2 1px solid
}
.searchinput1 {
	BORDER-BOTTOM: #dfe1e2 1px solid; BORDER-LEFT: #88aabc 1px solid; LINE-HEIGHT: 22px; WIDTH: 75px; HEIGHT: 18px; COLOR: #74a3b4; BORDER-TOP: #88aabc 1px solid; BORDER-RIGHT: #dfe1e2 1px solid
}
.cx {
	COLOR: #ebad06; FONT-SIZE: 12px; FONT-WEIGHT: bold; BORDER-RIGHT: #dae4ea 1px solid
}
.searchxl {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 18px; HEIGHT: 22px; COLOR: #74a3b4; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.searchbtn {
	BORDER-BOTTOM: ; TEXT-ALIGN: center; BORDER-LEFT: ; LINE-HEIGHT: 26px; MARGIN-BOTTOM: 3px; BACKGROUND: url(../images/btnbg.gif) no-repeat; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: ; CURSOR: pointer; BORDER-RIGHT: 
}
.searchbtnchuli {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 63px; MARGIN-BOTTOM: 3px; BACKGROUND: url(../images/btnbg.gif) no-repeat; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn2 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 80px; BACKGROUND: url(../images/loginbtn.png) no-repeat; HEIGHT: 36px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn3 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 63px; MARGIN-BOTTOM: 3px; BACKGROUND: url(../images/redbutton.jpg) no-repeat; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn5 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 150px; MARGIN-BOTTOM: 3px; BACKGROUND: url(../images/bg40.jpg) no-repeat; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn6 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 100px; MARGIN-BOTTOM: 3px; BACKGROUND: url(../images/bg40.jpg) no-repeat; HEIGHT: 26px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn9 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 80px; BACKGROUND: url(../images/cs.png) no-repeat; HEIGHT: 36px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn10 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 80px; BACKGROUND: url(../images/hs.png) no-repeat; HEIGHT: 36px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn11 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 80px; BACKGROUND: url(../images/hongs.png) no-repeat; HEIGHT: 36px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.searchbtn2 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 80px; BACKGROUND: url(../images/loginbtn.png) no-repeat; HEIGHT: 36px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.listtitle {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; MARGIN-TOP: 10px; HEIGHT: 35px; COLOR: #a9ad8d
}
.listtitle B {
	PADDING-RIGHT: 8px; FONT-FAMILY: "Microsoft YaHei"; COLOR: #022c43; FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.ntable {
	BORDER-TOP: #bdd5e0 1px solid; BORDER-RIGHT: #bdd5e0 1px solid
}
.ntable TD {
	BORDER-BOTTOM: #bdd5e0 1px solid; BORDER-LEFT: #bdd5e0 1px solid; LINE-HEIGHT: 26px; TEXT-INDENT: 15px; COLOR: #075587
}
.box {
	HEIGHT: 15px; CLEAR: both
}
